body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  background: #949494;
  color: white;
}

.video, .text-block, .form-section {
  margin-bottom: 2rem;
}

input, button {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background-color: #666;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}
